@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"); /* import font */

:root{
    --white: #f9f9f9;
    --black: #36383F;
    --gray: #85888C;
} /* variables*/

/* Reset */
*{
    margin: 0;
    padding: 0;
    font-family: poppins;
    box-sizing: border-box;
}
body{
    background-color: var(--white);
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.header{
    background-color: black;
    box-shadow: 1px 1px 5px 0px var(--gray);
    position: sticky;
    top: 0;
    width: 100%;
}
/* Logo */
.logo img{
    display: inline-block;
    color: var(--white);
    font-size: 60px;
    margin-left: 10px;
    width: 70px;
    padding-top: 8px;
}
.nav{
    width: 100%;
    height: 100%;
    position: sticky;
    background-color: var(--black);
    overflow: hidden;

}
.menu a{
    display: block;
    padding: 16px;
    color: var(--white);
}
.menu a:hover{
    background-color: var(--gray);
}
.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}
/* Menu Icon */
.hamb{
    cursor: pointer;
    float: right;
    padding: 27px 20px;
}/* Style label tag */

.hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}

.side-menu {
    display: none;
} /* Hide checkbox */

.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}


/* section one */
.section1{
    height: 70vh;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9)),
    url(../images/pretty-girl-black-hat-red-coat-raised-hands-holding-cap-studio-white-wall.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
    background-color: #000000;
}
/* .section1 h4{
    /*  */

.par1{
    width: 90%;
    margin: auto;
}
.image{
    display: none;
}
.text{
color: #fff;
}
.text h1{
padding-top: 40px;
}
.text h6{
    font-size: xx-small;

}
.text p{
    font-size: small;
    padding-top: 20px;
    font-weight: light;
    color: rgb(203, 203, 203);
}
.text .join_btn{
    display: inline-block;
    width: 100%;
    margin: auto;
    border: 1px solid #fff;
    text-align: center;
    padding-bottom: 20px;
    height: 60px;
    margin-top: 10%;
}
.text .join_btn:hover{
    background-color: blue;
    border: blue;
}
.text .join_btn p{
    padding-bottom: 10px;
}
/* .text .join_btn p:hover{
    color: ;
} */

/* section2 */
.section2{
height: 100vh;
padding-top: 20px;

}
.section2 h3{
    padding-left: 10px;
    text-align: center;
}
.par2{
    padding-top: 30px;
    width: 90%;
    margin: auto;
    /* border: 1px solid rgb(0, 0, 0); */
}
.par2 .line1{
    padding-top: 20px;
}
.par2 .line2{
    padding-top: 20px;
}.par2 .line3{
    padding-top: 20px;
}.par2 .line4{
    padding-top: 20px;
}

/* section3 */
.section3{
    height: 60vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9)),
    url(../images/ghana.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 40px;
}
.par3{
    width: 90%;
    margin: auto;
    padding-top: 20px;
    color: #fff;
}
.par3 h3{
    color:  rgb(80, 147, 255);
}
.par3 h2{
    padding-top: 15px;
}
.par3 p{
    color: #85888C;
    padding-bottom: 40px;
}
.par3 button
{
    padding: 10px 10px;
    outline: 0;
    border: 0;
    background-color: rgb(80, 147, 255);
    border-radius: 4px;
}
.par3 button:hover{
    background-color: #fff;
}
 /*section 4  */

.section4{
    height: 110vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9)),
    url(../images/cafeteria.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 
}
.par4{
    width: 90%;
    margin: auto;
    padding-top: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}
.right-box{
    width: 90%;
   margin: auto;
}
.left-box{
    width: 90%;
   margin: auto;
}
.section4 h3{
    color:  rgb(80, 147, 255);
    text-align: center;
    padding-top: 30px;
}
.right-box ul li{
    list-style-type: disc;
    color: #fff;
}
.left-box ul li{
    list-style-type: disc;
    color: #fff;
}

.section4 button
{
    padding: 10px 10px;
    outline: 0;
    border: 0;
    background-color: rgb(80, 147, 255);
    margin-left: 10px;
    border-radius: 4px;
}
.section4 button:hover{
    background-color: #fff;
}


.container{
    height: 200vh;
    
}
.section5{
    background-image: linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9)),
    url(../images/movies.jpg);
    height: 70VH;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    color: #fff;
    padding-left: 20px;
    padding-right: 10px;
}
.section5 h3{
    padding-top: 110px;
    text-align: center;
}
.section5 button{
    padding: 10px 10px;
    outline: 0;
    border: 0;
    background-color: rgb(80, 147, 255);
    margin-top: 20px;
    margin-left: 80px;
    border-radius: 4px;
    align-items: center;
}
.section6{
    height: 70vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.message{
    padding: 10PX 10PX 10PX 10PX ;
    width: 100%;
    height: 90vh;
}
.message h3{
    padding: 10px 15px;
}
.message form{
    padding: 10px 15px;
}
.message input{
    width: 90%;
    padding: 10px;
    outline: 0;
}
textarea{
    width:90%;
    resize: none;
   

}
input[type=submit]{
    background-color: black;
    color: #fff;
    outline: none;
    border: 0;
}


.contact{
    width: 100%;
    padding: 15px 20px;
    color: grey;
    height: 90vh;
}
.contact iframe{
    width: 90%;
   
}



/* giveaway */

.giveaways{
    padding: 40px 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.grouping{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh;
}


.giveaways h3{
    padding-bottom: 50px;
    padding-top: 150px;
}
.airtime{
    padding: 15px 15px;
    width: 100%;
    border: 1px solid black;
    border-radius: 4px;
    
}
.cash{
    padding: 15px 15px;
    width: 100%;
    border: 1px solid black;
    border-radius: 4px;
}
.cp{
    padding: 15px 15px;
    width: 100%;
    border: 1px solid black;
    border-radius: 4px;
}
.easter{
    padding: 15px 15px;
    width: 100%;
    border: 1px solid black;
    border-radius: 4px;
}
.airtime:hover{
    background-color: #000000;
    color: #f9f9f9;
}
.cash:hover{
    background-color: #000000;
    color: #f9f9f9;
}
.cp:hover{
    background-color: #000000;
    color: #f9f9f9;
}
.easter:hover{
    background-color: #000000;
    color: #f9f9f9;
}
.back p{
    padding: 10px 15px;
}
@media (min-width: 500px){
    .grouping{
        flex-direction: row;
        justify-content: space-between;
    }
    .airtime{
        width: 24%;
        height: 30%;
    }
    .cash{
        width: 24%;
        height: 30%;
    }
    .cp{
        width: 24%;
        height: 30%;
    }
    .easter{
        width: 24%;
        height: 30%;
    }
}
@media (min-width: 600px){
    .back p{
        display: none;
    }
}



/* advertisement */

.section1advert{
    text-align: center;
    height: 70vh;
}
.priceimg{
padding: 0px 10px;
}
.priceimg img{
    width: 100%;
    border-radius: 6px;
    
}
.imgborder{
    margin-top: 40px;
    border: 3px solid black;
    height: 300px;
    border-radius: 7px;
}
.ads{
    margin-top: 20px;
    background-color: black;
    display: inline-block;
    padding: 8px 20px;
    color: #fff;
    border-radius: 4px;
}
.ads:hover{
    background-color: transparent;
    border: 2px solid black;
    color: black;
}

/* movie */
.body{
    height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),
    url(../images/movies.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.body h3{
    
    text-align: center;
    color: #fff;
   

}
.join{
border: 2px solid rgb(255, 251, 251);
    background-color: #000000;
    padding: 5px 30px;
    margin-top: 20px;
    border-radius: 6px;
}
.join h3{
    color: rgb(255, 255, 255);
}












@media (min-width: 768px) {
    .menu ul li {
        font-size: smaller;
    }
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }
    .menu li{
        float: left;
    }
    .menu a:hover{
        background-color: transparent;
        color: var(--gray);

    }

    .hamb{
        display: none;
    }
    .par1{
        display: flex;
    }
    .text{
        width: 100%;
    }

    .image{
        display: block;
        width: 50%;
        padding-left: 50px;
    }
    .image img{
        width: 70%;
    }
    .section5 button{
        margin-left: 100px;
    }
}
@media (min-width: 1010px) {
    .image img{
        width: 60%;
    }
}
@media (min-width: 530px){
    .par2{
        display: flex;
        justify-content: space-between;
    }
    .line1{
        border: 1px solid  rgb(203, 203, 203);
        padding: 10px 10px;
        width: 30%;
    }
    .line2{
        border: 1px solid  rgb(203, 203, 203);
        padding: 10px 10px;
        width: 30%;
    }
    .line3{
        border: 1px solid  rgb(203, 203, 203);
        padding: 10px 10px;
        width: 30%;
    }
    .line4{
        border: 1px solid  rgb(203, 203, 203);
        padding: 10px 10px;
        width: 30%;     
    }
    .section2{
        height: 50vh;
    }
    .container{
        display: flex;
        justify-content: space-between;
        height: 100vh;
    }
    .section3{
        width: 40%;
        height: 80vh;
    }
    .section4{
        width: 58%;
    }
    .par4{
        flex-direction: row;
    }
   .right-box{
    padding-left: 20px;
   }
   .left-box{
    padding-left: 10px;
   }
   .section4{
    height: 80vh;
   }
   .section6{
    flex-direction: row;
   }

}